.compreRoot {
    padding: 0 4vw;

    .title {
        font-size: 4vw;
        color: #000;
        font-weight: bold;
        display: inline-block;
        margin: 1vh 0;
    }

    .moreText {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 2vh 0;
    }

    .songs {
        ul {
            list-style: none;

            li {
                margin: 2vh 0 1vh 0;
                border-bottom: 1px solid #F0F0F1;
                padding-bottom: 1vh;

                .songName {
                    display: block;
                    font-size: 4vw;
                    color: #000;
                }

                .songerName {
                    color: #838485;
                    font-size: 2vw;
                    margin-top: 1vh;
                    display: inline-block;
                }

                .vip {
                    color: red;
                    font-size: 1vw;
                    border: 1px solid red;
                    border-radius: 4px;
                    margin-right: 2vw;
                    padding: 0 1vw;
                }
            }
        }
    }

    .songers {
        ul {
            list-style: none;

            li {
                margin: 2vh 0;
                display: flex;
                align-items: center;

                .img {
                    height: 20vw;
                    width: 20vw;
                    display: inline-block;
                    background-size: 100% 100%;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                }

                span {
                    font-size: 4vw;
                    margin-left: 2vw;
                }
            }
        }
    }

    .album {
        ul {
            list-style: none;

            li {
                margin: 2vh 0;
                display: flex;
                align-items: center;

                img {
                    height: 20vw;
                    width: 20vw;
                    border-radius: 4px;
                }

                span {
                    font-size: 4vw;
                    margin-left: 2vw;
                }
            }
        }
    }

    .playList {
        ul {
            list-style: none;

            li {
                margin: 2vh 0;
                display: flex;
                align-items: center;

                img {
                    height: 20vw;
                    width: 20vw;
                    border-radius: 4px;
                }

                span {
                    font-size: 4vw;
                    margin-left: 2vw;
                }
            }
        }
    }
}